.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.input {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem;
    border: 0.05rem solid #333;
    border-radius: 0.5rem;
    font-family: inherit;
}