.converter {
    padding: 2rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    width: 100%;
    max-width: 45rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn-swap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 2em;
    height: 2em;
    border: none;
    background: none;
    cursor: pointer;
}

.rate-summary,
.loader-container,
.error-message {
    padding-top: 1rem;
}

.loader-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: calc(40em + 1px)) {
    .input-box {
        flex-direction: row;
    }

    .btn-swap {
        align-self: flex-end;
    }
}